@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

.hero {
    background-color: #F9F7FE;
}